/* Colors from the Boy Scout Style Guide - red: #ce1126; blue: #003f87;
 * Typefaces: Roboto Slab Family, Roboto Condensed Family
 * Scouts BSA Colors: Yellow: #FFCC00; Brown: #996633; Blue: #003f87; Red: #ce1126;
 */

body {
    background-color: #d6cebd;
    font-size: 2vh;
    font-family: 'Roboto Slab', serif;
    color: #243e2c;
    font-weight: 300;
}

.flex {
    display: flex;
}

header.flex {
    align-items: flex-start;
    justify-content: space-between;
}

div.flex {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 2vh;
}

a {
    text-decoration: none;
    color: #243e2c;
    /* transition: font-weight 0.5s; */
}

a:hover {
    font-weight: 400;
    /* text-shadow: 1px 1px 1px black; */
}

nav > a {
    padding-right: 3vw;
    font-size: 2em;
}

.logo {
    height: 20vh;
    margin-top: 1em;
}

header > div > h1 {
    font-size: 6rem;
    /* font-style: italic; */
    text-align: center;
    font-weight: 400;
    margin: 2rem;
}
